<h2><%= @movie['title']%></h2>
<img src="https://image.tmdb.org/t/p/w500/<%= @movie['poster_path'] %>" alt="<%= @movie['title']%>">
<p>Score: <%= @movie['vote_average']%></p>
<p><%= @movie['overview']%></p>
