
  <p>
<h2>
  Your calculation total is <%= @total%>
  <br>
  <%= params[:firstnum] %> <%= @op %> <%= params[:secondnum] %> = <%= @total %> </h2>


  </p>



  <img src="http://placekitten.com/300/300" alt="">
