<!DOCTYPE html>
<html>
  <head>
    <title>SneakerBrand</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <header>
      <nav>
        <h1>Sneakers</h1>


<%= link_to 'Checkout Brands', brands_path %>
<%= link_to 'Shopping Cart', new_brand_path %>



      </nav>
      <hr>
    </header>
    <%= yield %>
    <footer>
      <hr>
      &copy Brand Cooperation Productions
    </footer>

  </body>
</html>
