<h2>Guess the secret number</h2>

<form class="" action="secret/result">
  <table>
    <%
        i = 0
        5.times do
    %> <tr> <%
         1.times do
         i += 1
         %>
         <td><%=i%></td><td><input type="radio" name="number" value="<%=i%>"></td><% i+= 1 %>
         <td><%=i%></td><td><input type="radio" name="number" value="<%=i%>"></td><% i+= 1 %>
         <td><%=i%></td><td><input type="radio" name="number" value="<%=i%>"></td><% i+= 1 %>
         <td><%=i%></td><td><input type="radio" name="number" value="<%=i%>"></td><% i+= 1 %>
         <td><%=i%></td><td><input type="radio" name="number" value="<%=i%>"></td>
    <% end %>
        </tr>
    <% end %>
      <tr>
        <td colspan='10' class='align-right'><input type="submit" name="" value="submit"></td>
      </tr>
  </table>
</form>
