<h2> Edit:<%= @event.name %> </h2>

<form action ='/events/<%=@event.id%>' method= 'post'>
  <label>Name:
  <input type='text' name='name' value="<%= @event.name %>">
  </label>
  <label>Contact Name:
  <input type='text' name='contact_name' value="<%= @event.contact_name %>">
  </label>
  <label>Contact Email:
  <input type='text' name='contact_email' value="<%= @event.contact_email %>">
  </label>
  <label>Description:
    <textarea name='description'> <%= @event.description %> </textarea>
  </label>
  <label>Start Date:
  <input type='date' name='start_date' value="<%= @event.start_date %>">
  </label>
  <label>End Date:
  <input type='date' name='end_date' value="<%= @event.end_date %>">
  </label>
  <label>Number of People:
  <input type='text' name='cast_count' value="<%= @event.cast_count %>">
  </label>
  <label>Have they paid?
  <input type='text' name='paid' value="<%= @event.paid %>">
  </label>
  <label>Venue:
    <select name='venue_id'>
      <option></option>
      <% Venue.all.each do |venue| %>
      <option value="<%= venue.id %> " <%= "selected" if venue.id == @event.venue.id %> ><%= venue.name %></option>
      <% end %>
      </select>
      </label>
      <br>
        <input type="submit" value='Update Event Details'>
       </form>
