<h2>Location Edit: <%=@location.name%></h2>
<table>
  <form action='/location/<%=@location.id%>' method='post'>
  <tr>
    <td><strong>ID:</strong></td>
    <td><input type="text" name="location_id" value="<%=@location.id%>" readonly></td>
  </tr>
  <tr>
    <td><strong>Name:</strong></td>
    <td><input type="text" name="location_name" value="<%=@location.name%>"></td>
  </tr>
  <tr>
    <td><strong>Description:</strong></td>
    <td><input type="text" name="location_description" value="<%=@location.description%>"></td>
  </tr>
  <tr>
    <td><strong>Quantity:</strong></td>
    <td><input type="text" name="location_quantity" value="<%=@location.quantity%>"></td>
  </tr>
  <tr>
    <td><strong>Item:</strong></td>
    <td><select class="" name="item_id">
      <%  ins = ''
          ins2 = ''
          @item.each do |item|
          if item.id == @location.item_id
            ins = item.name
            ins2= item.description
          end
       %>
        <option value="<%=item.id%>"><%=item.name%> - <%=item.description%></option>
      <% end%>
      <option value="<%=@location.item_id%>" selected><%=ins%> - <%=ins2%></option>
    </select></td>
  </tr>
  <tr>
    <td colspan="2" class='align-right'><input type="submit" name="Update" value="Update"></td>
  </tr>
  </form>
</table>
