<h2>Location: <%=@location.name%></h2>
<table>
  <tr>
    <td><strong>Name:  </strong></td>
    <td><%=@location.name%></td>
  </tr>
  <tr>
    <td><strong>Description:  </strong></td>
    <td><%=@location.description%></td>
  </tr>
  <tr>
    <td><strong>Item:  </strong></td>
    <td><%=@location.quantity%></td>
  </tr>
  <% if @location.id != 1%>
  <tr>
    <td><a href="/location/<%=@location.id%>/edit">Edit</a></td>
  </tr>
  <% end %>
</table>
