<h2>Locations</h2>
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Item_id</th>
    <th>Quantity</th>
  </tr>
    <% @locations.each do |loc|%>
  <tr>
    <td><a href="/location/<%=loc.id%>" ><%=loc.name%></a></td>
    <td><%=loc.description%></td>
    <td><%=loc.item_id%></td>
    <td><%=loc.quantity%></td>
    <% if loc.id != 1%>
    <td class="noborder"><a href="location/<%=loc.id%>/edit">edit</a></td>
    <% end %>
  </tr>
  <% end %>
  <tr>
    <td colspan="4" class="align-right"><a href="/location/new">Add a location</a></td>
  </tr>
</table>
