<h2>Framework Details</h2>

<h3><%= @backend.name %></h3>

<img src="<%= @backend.logo %>" alt="<%= @backend.name %> logo">

<p>
  <strong>Date Released: </strong><%= @backend.date_released %>
</p>

<p>
  <strong>Used in:</strong>
  <ul>
    <% @backend.websites.each do |website| %>
      <li>
        <a href="/websites/<%= website.id %>">
        <%= website.name %>
        </a>
      </li>
    <% end %>
  </ul>
</p>

<a href="/backends/<%= @backend.id %>/edit">Edit Backend</a>
|
<a href="/backends/<%= @backend.id %>/delete">Delete Backend</a>
