<%= form_with model: @student, local: true do |f|%>
<table>
  <tr>
    <td><%=f.label :name%></td>
    <td><%=f.text_field :name, placeholder: 'Student Full Name'%></td>
  </tr>
  <tr>
    <td><%=f.label :dob, "Date of Birth"%></td>
    <td><%=f.date_field :dob%></td>
  </tr>
  <tr>
    <td><%=f.label :grade_id, "Class"%></td>
    <td><%=f.collection_select :grade_id, Grade.all, :id, :name%></td>
  </tr>
  <tr>
    <td><%=f.label :teacher_id, "Teacher"%></td>
    <td><%=f.collection_select :teacher_id, Teacher.all, :id, :name%></td>
  </tr>
  <tr>
    <td><%=f.label :image%></td>
    <td><%=f.text_field :image, placeholder: "http://"%></td>
  </tr>
  <tr>
    <td colspan="2" class="align-right"><%=f.submit%></td>
  </tr>

</table>
<% end %>
