
<h4>Edit vegetable <%= @vegetable.name %></h4>

<%= form_with model: @vegetable, local: true, method: 'post' do |f| %>

<%= f.label :name %>
<%= f.text_field :name %>
<br>

<%= f.label :scientific_name %>
<%= f.text_field :scientific_name %>
<br>

<%= f.label :harvest_time %>
<%= f.text_field :harvest_time %>
<br>

<%= f.label :height, 'Height (cms)' %>
<%= f.text_field :height %>
<br>

<%= f.label :spacing, 'Spacing (cms)' %>
<%= f.text_field :spacing %>
<br>

<%= f.submit %>

<% end %>
