<!DOCTYPE html>
<html>
  <head>
    <title>Space Probes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <h1>Famous Space Probes</h1>
      <%= link_to 'Probe Index', probes_path %>
      |
      <%= link_to 'Add Probe', new_probe_path %>
      <hr>
    </nav>
    <%= yield %>
  <footer>
    <hr>
    &copy; Some Space Stuff 2020
  </footer>
  </body>
</html>
