<h1>Edit Your Unit: <%= @unit['name'] %></h1>

<form action="/units/<%= @unit['id']%>" method="post">
  <label>
    Name:
    <input type="text" name="name" value="<%= @unit['name']%>">
  </label>

  <br>

  <label>
    Species:
    <input type="text" name="species" value="<%= @unit['species']%>">
  </label>

  <br>

  <label>
    Absoluteness (0 No, 1 Yes):
    <input type="text" name="absoluteness" value="<%= @unit['absoluteness']%>">
  </label>

  <br>

  <label>
    Rating (0 Low, 10 Maximum Absoluteness):
    <input type="text" name="rating" value="<%= @unit['rating']%>">
  </label>

  <br>

  <label>
    Image URL:
    <input type="text" name="image_url" value="<%= @unit['image_url']%>">
  </label>

  <br>

  <input type="submit" value="Add Unit">
</form>
