<img src=<%= "https://image.tmdb.org/t/p/w185#{@movie_info['poster_path']}" %> alt="">

<ul>
  <li>Release Date: <%= @movie_info['release_date'] %></li>
  <li>Budget: <%= @movie_info['budget'] %></li>
  <li>Revenue: <%= @movie_info['revenue'] %></li>
  <li>Genres:
    <ul>
      <% @movie_info['genres'].each do |m| %>
        <li><%= m['name'] %></li>
      <% end %>
    </ul>
  </li>
  <li>Homepage: <%= @movie_info['homepage'] %></li>
  <li>Popularity: <%= @movie_info['popularity'] %></li>
  <li>Production Companies:
    <ul>
      <% @movie_info['production_companies'].each do |m| %>
        <li><%= m['name'] %></li>
      <% end %>
    </ul>
  </li>
  <li>Runtime: <%= @movie_info['runtime'] %></li>
  <li>Overview: <%= @movie_info['overview'] %></li>
  <li>Tagline: <%= @movie_info['tagline'] %></li>
  <li>Votes:
    <ul>
      <li>Vote Average: <%= @movie_info['vote_average'] %></li>
      <li>Vote Count: <%= @movie_info['vote_count'] %></li>
    </ul>
  </li>
</ul>
