<h2>Teachers: <%=@teacher.name%></h2>

<%= image_tag @teacher.image, class: 'large-img', alt: @teacher.name %>

<table class="index-table">
  <tr>
    <th class="index-th">Name:</th>
    <td class="index-th"><%= @teacher.name %></td>
  </tr>
  <tr>
    <th class="index-th">Date of birth:</th>
    <td class="index-th"><%= @teacher.dob %></td>
  </tr>
  <tr>
    <th class="index-th">class:</th>
    <td class="index-th"><%= link_to @teacher.grade.name, grade_path(@teacher.grade.id) %></td>
  </tr>
  <tr>
    <td colspan="2" class="index-td">
      <strong>Students:</strong>
        <ul class='index-list'>
          <% @teacher.students.each do |student|%>
          <li><%= link_to student.name, student_path(student.id) %></li>
          <% end %>
        </ul>
    </td>
  </tr>
  <% if @teacher.user_id == @current_user.id %>
  <tr>
    <td class="index-td">
      <%= link_to edit_teacher_path(@teacher.id) do %>
      <button class="new-button">Edit</button>
      <% end %>
    </td>
    <td class="index-td">
      <%= link_to teacher_path(@teacher.id), method: 'delete' do %>
      <button class="new-button">Delete</button>
      <% end %>
    </td>
    <% end %>
  </tr>
  <tr>
    <td class='show'></td>
  </tr>
</table>
