<h2>Index of Properties</h2>

<ul>
  <% @properties.each do |property| %>
    <li>
      <a href="/properties/<%= property.id  %>">
        <%= property.street_name %>, <%= property.suburb %>, <%= property.state %> <%= property.postcode %>
      </a>
    </li>
  <% end %>
</ul>
