<img src="<%= @property.image_url %>" alt="<%= @property.street_name %>, <%= @property.suburb %>, <%= @property.state %> <%= @property.postcode %>">
<p>
  <%= @property.street_name %>, <%= @property.suburb %>, <%= @property.state %> <%= @property.postcode %>
</p>
